div.loading-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9991;
  height: 100vh;
  background-color: #fff;
}

div.loading-background .loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #0d6efd !important;
  letter-spacing: 0.2em;
}

div.loading-background .loader::before, div.loading-background .loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #0d6efd !important;
  position: absolute;
  -webkit-animation: load .7s infinite alternate ease-in-out;
          animation: load .7s infinite alternate ease-in-out;
}

div.loading-background .loader::before {
  top: 0;
}

div.loading-background .loader::after {
  bottom: 0;
}

.fade-out {
  -webkit-animation: fadeOut 1s;
          animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

@keyframes load {
  0% {
    left: 0;
    height: 30px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 40px;
  }
  100% {
    left: 235px;
    height: 30px;
    width: 15px;
  }
}

.article-row .row {
  height: 250px;
}

.article-row .a-thumbnail {
  color: rgba(0, 0, 0, 0.753);
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 5s ease-in-out;
  transition: 5s ease-in-out;
}

.article-row .a-thumbnail :hover .box-thumbnail {
  top: -10px;
}

.article-row .image-thumbnail {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article-row .image-thumbnail p {
  display: none !important;
}

.header-container .thumbnail-box {
  border-radius: 20px;
}

.header-container .thumbnail-box img {
  height: 350px;
}

.box-thumbnail .row {
  top: 0px;
  -webkit-transition: .3s;
  transition: .3s;
}

.alert-message {
  top: -50px;
  z-index: 9;
  opacity: 0;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#cke_id_isi {
  width: 100% !important;
}

.box-thumbnail:hover .row {
  top: -10px;
  -webkit-box-shadow: 0 2px 10px #00b4d85b !important;
          box-shadow: 0 2px 10px #00b4d85b !important;
}

@-webkit-keyframes slidein {
  from {
    top: -50px;
  }
  100% {
    opacity: 1;
    top: 20px;
  }
}

@keyframes slidein {
  from {
    top: -50px;
  }
  100% {
    opacity: 1;
    top: 20px;
  }
}

@media (max-width: 992px) {
  .header-container .thumbnail-box img {
    height: 150px;
  }
  .category-section {
    position: static !important;
  }
}

@media (max-width: 767.98px) {
  .article-row .image-thumbnail {
    display: none;
  }
  .reverse-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=style.08b62f4a2ce3.css.map */