li.like {
    cursor: pointer;
}


div.thumbnail-box img {
    height: auto !important;
    max-width: 70% !important;
}

article article img {
    height: auto !important;
    max-width: 100% !important;
    margin-left: -40px;
}


@media (max-width: 992px) {

    article article img,
    div.thumbnail-box img {
        height: auto !important;
        width: 70% !important;

    }
}


@media (max-width: 767.98px) {}

@media (max-width: 576px) {
    article article img {
        height: auto !important;
        width: 100% !important;
    }

    .user-action {
        flex-direction: column !important;
    }

}