{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container col-sm-5 position-relative" >
  <div class="row align-items-center " style='height:100vh;'>
  {% for message in messages %}
      <div class="alert alert-primary alert-message alert-dismissible fade show position-absolute p-2 rounded-pill" role="alert">
          <center>
          <p class="alert-text  m-0"> {{message}}</p>
          </center>
          <button type="button" class="btn-close" data-bs-dismiss="alert" style="height:0;" aria-label="Close"></button>
      </div>
  {% endfor %}

  <section class="logout-section bg-light col p-5 rounded-3" style="border: 3px solid grey;">
      <center>
        <h1>{% trans "Log Out" %}</h1>
        <p>{% trans 'Are you sure you want to log out?' %}</p>
      </center>

      <!-- form error -->
      <div class="alert alert-warning d-none alert-dismissible fade show" role="alert">
          <small class="alert-text alert-error"> You should check in on some of those fields below.</small>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <!-- akhir form error -->

      <form method="post" action="{% url 'account_logout' %}" class="row g-3">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="col-lg-6 d-grid">
          <button type="submit" class="btn btn-warning rounded-pill">{% trans 'Log Out' %}</button>
        </div>
        <div class="col-lg-6 d-grid">
          <a href="{% url 'adminList' %}" class="btn btn-outline-secondary rounded-pill">Not Really</a>
        </div>
      </form>
  </section>

  </div>
</div>


{% include 'accounts_scripts.html' %}

{% endblock %}
