{% extends "navbar.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_content %}


    <div class="container col-sm-7 position-relative" >
        <div class="row align-items-center " style='height:100vh;'>
          {% for message in messages %}
          <div class="alert alert-primary alert-message alert-dismissible fade show position-absolute p-2 rounded-pill" role="alert">
            <center>
              <p class="alert-text  m-0"> {{message}}</p>
            </center>
            <button type="button" class="btn-close" data-bs-dismiss="alert" style="height:0;" aria-label="Close"></button>
          </div>
        {% endfor %}
      
          <section class="password-reset-section bg-light col p-5 rounded-3" style="border: 3px solid grey;">
            <center>
              <h1 class="text-capitalize">{% trans "Password Reset" %}</h1>
            </center>
            
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <!-- form error -->
            <div class="alert alert-warning d-none alert-dismissible fade show" role="alert">
              <small class="alert-text alert-error"> You should check in on some of those fields below.</small>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <!-- akhir form error -->
            
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST"  class="password_reset row justify-content-between g-3 pb-3">
                {% csrf_token %}
                <div class="col-lg-7">
                    <input type="email" class="form-control rounded-pill" name="email" placeholder="E-mail address" autocomplete="email">
                </div>
                <div class="col-lg-auto d-grid">
                    <button type="submit" class="btn btn-primary rounded-pill">{% trans 'Reset My Password' %}</button>
                </div>
            </form>
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
          </section>
      
        </div>
      </div>
      
      <!-- javascript -->
      {% include 'accounts_scripts.html' %}
{% endblock %}
