{% extends 'container.html' %}


{% block title %}
    {{page_title}} | Artsolog
{% endblock title %}
    

{% block content_extra %}
<header style="padding-top: 100px;">
    <center>
        <h2>Hai <span class="text-primary">{{request.user.username}}</span>, anda adalah 
        {% if request.user.is_superuser and request.user.is_staff  %}
            <span class="text-primary">super user,</span>
        {% elif request.user.is_staff %}
            <span class="text-primary">staff,</span>
        {% else %}
            <span class="text-primary">pengunjung,</span>
        {% endif %}
             selamat datang di admin list</h2>

    </center>
</header>
<article class="row article-row">
    <section class="article-section pb-5">
        <div class="container-fluid d-flex mb-3 justify-content-between">
            <a class="btn btn-primary text-capitalize " href="{% url 'create' 'article' %}" role="button">tambah article</a>
            <form class="d-flex" method="post" action="{% url 'adminSearch' %}" id="articleform">
              <input class="form-control me-2 search-input" type="input" name="article_search" placeholder="Search" aria-label="Search">
            </form>
          </div>
        <div class="card card-body overflow-auto" style="height: 300px;">
            <table class="table" aria-labelledby="dropdownMenuButton1">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Judul</th>
                    <th scope="col">Kategori</th>
                    <th scope="col">Author</th>
                    <th scope="col">Published</th>
                    <th scope="col">likes</th>
                    <th scope="col">Update</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody id="table-article" class="table-body">
                
                {% for article in object_list %}
                    <tr >
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{article.judul|truncatewords:2}}</td>
                        <td>
                        {% for category in article.category.all %}
                            {{category}}
                        {% endfor %}
                        </td>
                        <td>{{article.author}}</td>
                        <td>{{article.published}}</td>
                        <td>{{article.num_likes}}</td>
                        <td>{{article.updated|date:"d/m/y"}}</td>
                        <td><a class="btn btn-danger text-capitalize" href="{% url 'delete' 'article' article.id %}" role="button">delete</a> | <a class="btn btn-warning text-capitalize" href="{% url 'update' 'article' article.id %}" role="button">updated</a></td>
                    </tr>
                {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </section>

    <section class="category-section pb-5">
        <div class="container-fluid d-flex mb-3 justify-content-between">
            <a class="btn btn-primary text-capitalize " href="{% url 'create' 'category' %}" role="button">tambah category</a>
            <form action="{% url 'adminSearch' %}" class="d-flex" method="post">
              <input class="form-control me-2 search-input" type="input" name="category_search" placeholder="Search" aria-label="Search">
            </form>
          </div>
        <div class="card card-body overflow-auto" style="height: 300px;">
            <table class="table" aria-labelledby="dropdownMenuButton1">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody id="table-category" class="table-body">
                
                {% for category in categories %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{category.name|truncatewords:5}}</td>
                        <td><a class="btn btn-danger text-capitalize" href="#" role="button">delete</a> | <a class="btn btn-warning text-capitalize" href="{% url 'update' 'category' category.id %}" role="button">updated</a></td>
                    </tr>
                {% endfor %}
                    
                </tbody>
            </table>
        </div>

    </section>
    
    <section class="user-section pb-5">
        <div class="container-fluid d-flex mb-3 justify-content-between">
            <a class="btn btn-primary text-capitalize " href="{% url 'create' 'user' %}" role="button">tambah user</a>
            <form action="{% url 'adminSearch' %}" class="d-flex" method="post">
              <input class="form-control me-2 search-input" type="input" name="user_search" placeholder="Search" aria-label="Search">
            </form>
          </div>
        <div class="card card-body overflow-auto" style="height: 300px;">
            <table class="table" aria-labelledby="dropdownMenuButton1">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Username</th>
                    <th scope="col">Status</th>
                    <th scope="col">Group</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody id="table-user" class="table-body">
                
                {% for user in users %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{user.username}}</td>
                        <td> 
                        {% if user.is_staff and user.is_superuser %}
                            Active | Staff | Super User
                        {% elif  user.is_active and user.is_staff %}
                            Active | Staff 
                        {% elif user.is_active %}
                            Active
                        {% else %}
                            Inactive
                        {% endif %}
                        </td>
                        <td>
                            
                            {% for group in user.groups.all %}
                                {{group.name}}
                            {% endfor %}
                                
                        </td>
                        <td><a class="btn btn-danger text-capitalize" href="#" role="button">delete</a> | <a class="btn btn-warning text-capitalize" href="{% url 'update' 'user' user.id %}" role="button">updated</a></td>
                    </tr>
                {% endfor %}
                    
                </tbody>
            </table>
        </div>

    </section>

    <section class="group-section pb-5">
        <div class="container-fluid d-flex mb-3 justify-content-between">
            <a class="btn btn-primary text-capitalize " href="{% url 'create' 'group' %}" role="button">tambah group</a>
            <form action="{% url 'adminSearch' %}" class="d-flex" method="post">
              <input class="form-control me-2 search-input" type="input" name="group_search" placeholder="Search" aria-label="Search">
            </form>
          </div>
        <div class="card card-body overflow-auto" style="height: 300px;">
            <table class="table" aria-labelledby="dropdownMenuButton1">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">name</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody id="table-group" class="table-body">
                
                {% for group in groups %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{group.name}}</td>
                        <td><a class="btn btn-danger text-capitalize" href="#" role="button">delete</a> | <a class="btn btn-warning text-capitalize" href="{% url 'update' 'group' group.id %}" role="button">updated</a></td>
                    </tr>
                {% endfor %}
                    
                </tbody>
            </table>
        </div>

    </section>
</article>
<script>
    const url =window.location.href
    const csrf=document.getElementsByName('csrfmiddlewaretoken')[0].value
    const searchInput=document.getElementsByClassName('search-input')
    const tableBody=document.getElementsByClassName('table-body')
    <!-- console.log(csrf) -->

    const truncate = (data,maxword)=>{
        splitQs=data.split(' ')
        if (splitQs.length>maxword-1){
        const arrData=splitQs
        newArrData=[]
        for (let i = 0; i < arrData.length; i++) {
            if (i>maxword-1){
            break;
            }
        newArrData.push(arrData[i]);
        }
        // console.log(newArrData.join(' '))
            return newArrData.join(' ')
        }
        return splitQs.join(' ')
    }

    const sendSearchData=(data,nameInput,nameTable)=>{
        $.ajax(
            {
                type:'POST',
                url:'/search-admin/',
                data:{
                    'csrfmiddlewaretoken':csrf,
                    'data':data,
                    'nameInput':nameInput['name'],
                    // 'nameTable':nameTable,
                },
                success:(res)=>{
                    console.log(res.data)
                    nameTable.innerHTML=' '
                    console.log(nameTable)
                    const data =res.data

                    if (Array.isArray(data)){
                        console.log(nameTable==tableBody['table-article'])
                        if (nameTable==tableBody['table-article']){
                            data.forEach((e,i)=>{
                                console.log(e)
                                nameTable.innerHTML+=`<tr>
                                <th scope="row">${i+1}</th>
                                <td>${truncate(e.judul,2)}</td>
                                <td>
                                    ${e.category.join(' ')}
                                </td>
                                <td>${e.author}</td>
                                <td>${e.published}</td>
                                <td>${e.updated}</td>
                                <td><a class="btn btn-danger text-capitalize" href="" role="button">delete</a> | <a class="btn btn-warning text-capitalize" href="/update/article/${e.id}" role="button">updated</a></td>
                            </tr>
                            `
                            })
                        }else if(nameTable== tableBody['table-category']){
                            data.forEach((e,i)=>{
                                console.log(e)
                                nameTable.innerHTML+=`<tr>
                                <th scope="row">${i+1}</th>
                                <td>${truncate(e.name,2)}</td>
                                <td><a class="btn btn-danger text-capitalize" href="#" role="button">delete</a> | <a class="btn btn-warning text-capitalize" href="/update/category/${e.id}" role="button">updated</a></td>
                            </tr>
                            `
                            })
                        }else if(nameTable==tableBody['table-user']){
                            data.forEach((e,i)=>{
                                console.log(e)
                                status=e.is_superuser && e.is_staff && e.is_active ? 'Active | Staff | Super User': e.is_staff && e.is_active ? 'Active | Staff ': 'Active'
                                console.log(status)
                                nameTable.innerHTML+=`<tr>
                                <th scope="row">${i+1}</th>
                                <td>${truncate(e.username,2)}</td>
                                <td>${status}</td>
                                <td>${e.group.join(' | ')}</td>
                                <td><a class="btn btn-danger text-capitalize" href="#" role="button">delete</a> | <a class="btn btn-warning text-capitalize" href="/update/user/${e.id}" role="button">updated</a></td>
                            </tr>
                            `
                            })
                        }else if(nameTable==tableBody['table-group']){
                            data.forEach((e,i)=>{
                                nameTable.innerHTML+=`<tr>
                                <th scope="row">${i+1}</th>
                                <td>${truncate(e.name,2)}</td>
                                <td><a class="btn btn-danger text-capitalize" href="#" role="button">delete</a> | <a class="btn btn-warning text-capitalize" href="/update/group/${e.id}" role="button">updated</a></td>
                            </tr>
                            `
                            })
                        }

                    }else{
                        if (nameInput.value.length>0){
                            nameTable.innerHTML+=`<center><h3>${res.data}</h3></center>`
                        }else{
                            nameTable.innerHTML+=``
                        }
                    }
                },
                error:(err)=>{
                    <!-- console.log(err) -->
                }
            }
        )
        }

    searchInput['article_search'].addEventListener('keyup',e=>{
        sendSearchData(e.target.value,searchInput['article_search'],tableBody['table-article'])
    });

    searchInput['category_search'].addEventListener('keyup',e=>{
        sendSearchData(e.target.value,searchInput['category_search'],tableBody['table-category'])
    });

    searchInput['user_search'].addEventListener('keyup',e=>{
        sendSearchData(e.target.value,searchInput['user_search'],tableBody['table-user'])
    });

    searchInput['group_search'].addEventListener('keyup',e=>{
        sendSearchData(e.target.value,searchInput['group_search'],tableBody['table-group'])
    });
</script>
{% endblock content_extra %}
    