{% extends 'container.html' %}


{% block title %}
    {{page_title}}
{% endblock title %}
    



{% block content_extra %}
    <header style="margin-top: 100px;">
        <div class="container p-4">
            <div class="col-5">
                <h2 class="text-capitalize">large feature that you should not miss it</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia libero ducimus asperiores cupiditate soluta consequatur labore doloremque voluptates vero, minus temporibus, dolorem totam sint quis mollitia qui repellat voluptas accusantium.</p>
                <a href="#" class="text-capitalize"><h4> continue reading...</h4></a>
            </div>
        </div>
    </header>

    <!-- {{object_list}} -->
    
    
    <!-- {% for artikel in object_list %}
      
      {% if artikel.published %}
        <div>
          <p>{{artikel}}</p>
          
          <small>{{artikel.category.all|first}}</small>
            
        </div>
      {% endif %}
        
    {% endfor %}
      -->
      

    <article class="row">
      
      {% for article in object_list  %}

<!-- queryset filter -->
        {% if article.published and slug %}
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                {% for category in article.category.all %}
                  {% if category.slug == slug %}
                    <strong class="d-inline-block mb-2 text-primary text-uppercase">{{category.name}}</strong>
                  {% endif %}
                {% endfor %}
                <h3 class="mb-0">{{article.judul|title}}</h3>
                <div class="mb-1 text-muted">{{article.updated}}</div>
                <p class="card-text mb-auto">{{article.isi|safe|truncatewords:10}}</p>
                <a href="#" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                
                {% if article.image %}
                  <img src="{{article.image.url}}" alt="Thumbnail" sizes="" srcset="">
                  {{article.image.url}}
                {% else %}
                  <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="30%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                {% endif %}
                  
              </div>
            </div>
          </div>


<!-- queryset all -->
        {% else %}
          <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary text-uppercase">{{article.category.all|first}}</strong>
                  <h3 class="mb-0">{{article.judul|title}}</h3>
                  <div class="mb-1 text-muted">{{article.updated}}</div>
                  <p class="card-text mb-auto">{{article.isi|safe|truncatewords:10}}</p>
                  <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="30%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                </div>
              </div>
          </div>
          
        {% endif %}
          
        
      {% endfor %}
        

    </article>
    

{% endblock content_extra %}
