{% extends 'container.html' %}


{% block title %}
    {{page_title}}
{% endblock title %}


{% block content_extra %}
    <div class="row" style="padding-top: 100px;">
        <div class="col-lg-7">
            <header style="">
                <div class="header-container  container p-4">
                    <div class="thumbnail-box bg-primary">
                        <center>
                            <img src="{{  object.image.url  }}" alt="Thumbnail " srcset="">
        
                        </center>
                    </div>
                    <h2 class="">{{ object.judul|title }}</h2>
                    <h6 class="text-capitalize">oleh : <span class="text-muted">{{object.author.first_name}} {{object.author.last_name}}</span></h6>
                    <h6 class="text-capitalize">kategori : <span class="text-muted text-uppercase"><span class="text-primary">{{curr_category.name}}</span> | 
                    {% for category in object.category.all %}
                        {% if category != curr_category %}
                            {{category.name}} |
                        {% endif %}
                    {% endfor %}
                        </span></h6>

                    <h6 class="text-capitalize"><span class="text-muted">{{object.updated}}</span></h6>
                </div>
            </header>
            <article class="p-4" style="text-justify: inter-word;text-align:justify;text-indent:3em;">
                {{object.isi|safe}}
            </article>
    
        </div>
        <section class="category-section col-lg-4 me-auto " style="right: 0;">
            <main class="position-sticky" style="top:100px;">
                <header style="">
                    <div class="header-container  container p-4">
                        <h4 class="text-capitalize">Artikel serupa</h4>
                        <hr>
                        <div class="list-group">
                            {% for article in same_articles %}
                            <a href="{% url 'detail' article.id curr_category.slug %}" class="list-group-item list-group-item-action">
                                <h6 class="text-capitalize text-primary">{{article.judul}}</h6>
                                <p class="">{{ article.updated }}</p>
                                <hr>
                            </a>
                            {% endfor %}
                            <a href="{% url 'category' curr_category.slug %}" class="list-group-item text-primary">Selengkapnya...</a>

                          </div>
                            
                    </div>
                </header>
            </main>
        </section>

    </div>

{% endblock %}