<!doctype html>
<html lang="en">
    {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta_desc %}
      <meta name="description" content="Artsodevalog berisi artikel-artikel yang berkaitan dunia teknologi khususnya dunia programing di Indonesia ">
    {% endblock  %}
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'img\icon\favicomatic_2\apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img\icon\favicomatic_2\apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img\icon\favicomatic_2\apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img\icon\favicomatic_2\apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'img\icon\favicomatic_2\apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'img\icon\favicomatic_2\apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'img\icon\favicomatic_2\apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img\icon\favicomatic_2\apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'img\icon\favicomatic_2\favicon-196x196.png' %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static 'img\icon\favicomatic_2\favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'img\icon\favicomatic_2\favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'img\icon\favicomatic_2\favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static 'img\icon\favicomatic_2\favicon-128.png' %}" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
    <meta name="theme-color" content="#00b4d81c">
      
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    {% block style %}{% endblock style %}
    <script data-ad-client="ca-pub-4241099753313395" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>
        {% block title %}{% endblock title %}
    </title>
  </head>
  <body style="background-color: #00b4d81c;">
    <div class="loading-background">
      <div class="loader" >Loading...</div>
    </div>
    
      {% block content %}
          blockname
      {% endblock content %}
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}" defer></script>
    {% block script %}{% endblock script %}
  </body>
</html>