<!doctype html>
<html lang="en">
    {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>
        {% block title %}
    
        {% endblock title %}
    </title>
  </head>
  <body style="background-color: #00b4d81c;">
      {% block content %}
          blockname
      {% endblock content %}

    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>

  </body>
</html>