{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container text-capitalize">
      <a class="navbar-brand" href="{% url 'list' %}"><img src="{% static 'img\icon\artsodevalog-logo-text.png' %}" alt="Artsodeva Logo" width="auto" height="20px"srcset=""></a>
      <!-- <a class="navbar-brand" href="{% url 'list' %}"><img src="{% static 'img\icon\artsodev-logo-text.svg' %}" alt="Artsodeva Logo" width="120px" srcset=""></a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'list' %}">semua artikel</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              kategori
            </a>
            <ul class="dropdown-menu overflow-auto" style="height: 178px; " aria-labelledby="navbarDropdown">
              {% for category in categories %}
                <li><a class="dropdown-item text-uppercase" href="{% url 'category' category.slug %}">{{category.name}}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        <div class="d-flex mb-2 mb-lg-0 align-items-center justify-content-between">
          
          {% if user.is_authenticated %}
            
            {% if request.user.first_name %}
              <h6 class="mb-0 pe-2"><i>{{request.user.get_short_name}}</i></h6>
            {% else %}
              <h6 class="mb-0 pe-2"><i>{{request.user.username}}</i></h6>
            {% endif %}
              
            
            {% if request.user.is_superuser %}
              <a href="{% url 'adminList' %}" class="nav-link">admin site</a>
              
            {% endif %}
            <a href="{% url 'account_logout' %}" class="nav-link"> Logout</a>
          {% else %}
              <a href="{% url 'account_login' %}" class="nav-link"> Login</a>
            
          {% endif %}
            
              
            <form class="d-flex" action="{% url 'searchView' %}" method="POST">
              {% csrf_token %}
              <input class="form-control me-2 rounded-pill" type="input" placeholder="Cari..." aria-label="Search" name="searched">
              <button class="btn btn-outline-success text-capitalize rounded-pill" type="submit">cari</button>
            </form>
        </div>
      </div>
    </div>
  </nav>
  
  {% block extra_content %}
      
  {% endblock extra_content %}
      
    <footer class="footer-section p-section bg-dark text-light p-2" id="footer">
        <div class="row ">
            <div class="col d-grid gap-4">
                <div class="footer-container row px-5">
                  
                    <div class="footer-box text-center  col-md ">
                      <a class="nav-link text-capitalize py-0 text-light" href="https://artsodev.com/">
                        <h3 > About</h3>
                        <hr>
                        <img src="{% static 'img\icon\artsodeva-logo_200.png' %}" alt="Kunjungi Artsodeva" srcset="{% static 'img\icon\artsodeva-logo.png' %}" width="100px">
                        <h4>Artsodeva</h4>
                        
                      </a>
                    </div>
                    <div class="footer-box text-center col-md ">
                        <h3>Links</h3>
                        <hr>
                        <a class="nav-link text-capitalize py-0" href="#home"><p class='text-light'>home</p></a>
                        <a class="nav-link text-capitalize py-0" href="https://artsodev.com/#about"><p class='text-light'>about</p></a>
                        <a class="nav-link text-capitalize py-0" href="https://artsodev.com/#service"><p class='text-light'>service</p></a>
                        <a class="nav-link text-capitalize py-0" href="https://artsodev.com/#gallery"><p class='text-light'>gallery</p></a>
                        <a class="nav-link text-capitalize py-0" href="https://artsodev.com/#contact"><p class='text-light'>contact</p></a>
                        <a class="nav-link text-capitalize py-0 disabled" href="#"><p class='text-light'>blog</p></a>
                    </div>
                  </div>
              </div>
          </div>
      </footer>
{% endblock content %}
    